# Dependências do Node
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários de sistema
.DS_Store
Thumbs.db

# Diretórios de build
dist/

# Variáveis de ambiente
.gitignore
.env
.env.development
.env.production
.env.local

# Cache do Editor
.vscode/
.idea/
*.swp

# Arquivos específicos do SO
*.out
*.pid
*.pid.lock

# Configurações de teste
coverage/
.nyc_output/

# Cache do TypeScript
*.tsbuildinfo

# Configurações do Parcel bundler
.cache/
.parcel-cache/

# Arquivos de deploy
.deploy/

# Configurações e aquivos não enviados